body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
  margin: 0; 
  height: 100vh; 
  background-image: url('imagens/background.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.box1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #90BF93;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: clamp(14px, 2vw, 34px); 
  padding-left: 1rem;

  position: absolute;
  left: clamp(50px, 20%, 183px); 
  top: clamp(68px, 10%, 52px);  

  width: clamp(200px, 17em, 345px);  
  height: clamp(40px, 4em, 76px);   
}

/* botões */
.box2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #FFFFFF;
  font-size: clamp(14px, 2vw, 20px);
  color: #e883aa;;
  padding: 1rem; 
  
  position: absolute;
  left: clamp(50px, 20%, 183px); 
  top: clamp(186px, 10%, 180px);   

  width: 270px; 
  height: auto;
  box-sizing: border-box;  
}

/* título */
.box3 { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px 15px 0px 0px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #90BF93;
  color: #FFFFFF;
  font-size: clamp(14px, 2vw, 24px);
  padding-left: 1rem;

  position: absolute;
  left: clamp(50px, 20%, 183px); 
  top: clamp(186px, 10%, 180px);   

  width: 270px;    
  height: clamp(6px, 4em, 42px);    
  box-sizing: border-box;  
}

.button-1 {
  background-color: #e883aa;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #ee6197;
}

#botoes-generos {
  display: flex;       
  flex-wrap: wrap;        
  gap: 5px;       
  justify-content: flex-start;     
  width: 100%;           
  margin-top: 40px;      
}